.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.form-search {
  display: flex;
  gap: 10px;
}
.search-input {
  border: 3px solid #4A90E2;
  border-radius: 20px;
  width: 500px;
  padding: 20px;
  font-size: 1.5rem;
  background-color: black;
  color: #4A90E2 ;
}
.search-btn {
  margin-left: 10px;
  padding: 12px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 10px;
  width: 180px;
  cursor: pointer;
}
.reset-btn {
  margin-left: 10px; 
  padding: 12px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 10px;
  width: 180px;
  cursor: pointer;
}
.results-favs {
  padding: 20px;
  margin: 0 auto;
  max-width: 98%;
  display: flex;
  gap: 60px;
  align-items: flex-start;
  width: 100%;
}

.fav-section {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100px;
  margin-top: 60px;
  width: 40%;
  border: 5px solid orange;
  padding: 20px;
  position: relative;
  .title-fav {
    background-color: orange; 
    color: black;
    padding: 10px 0;
    border: 5px;
    border-radius: 5px 5px 0 0;
    display: block; 
    text-align: center;
    position: absolute;
    top: -10px;
    left: 0;
    transform: translateY(-100%);
    font-size: 40px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
  }
}

.results-section {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100px;
  margin-top: 60px;
  width: 60%;
  border: 5px solid blue;
  padding:20px;
  position: relative;
  .title-results {
    background-color: blue;
    color: black;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    display: block;
    text-align: center;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    font-size: 40px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
.fav-list {
  .anime-card {
    h3 {
      color: orange;
    }
  }
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  min-height: auto;
  align-items: start;
  height: auto;
  overflow: visible;
}
.results-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.anime-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    text-align: center;
  
  }
  img {
    height: 321px;
    width: 225px;
  }
}
.fav-anime-card {
  border: 4px solid aqua;
  color: aqua;
}
